/* UNIVERSAL CSS (ACROSS ALL PAGES) */


body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color:	#f0f7fe;
    text-align: center;
}

/* HEADER */ 
.container{
    background-color:#E27D60;
    height: 80px;
    width: 100%;}
    

#logo{
    font-size: 40px;
    text-decoration: none;
    color: 	#f4f1f1;
    padding-left: 50px;
    padding-top: 15px;
    float: left;
    letter-spacing: -2px;
    font-weight: bold;
}

/* NAVIGATION BAR HEADER */

ul {
    float: right;
    display: inline;
    margin-top: 30px;
    margin-right:30px;
}

li{
    display: inline;
    padding: 10px; 
    font-weight: bold;
    font-size: 15px;
}

a.nav{
    text-decoration: none !important;
    color: black;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a.nav:hover{
    color: #dff4ff;
}

/* MAIN CONTENT */ 

.homeheader{
    text-align: center;
    font-size: 40px;
    letter-spacing: -1px;
    margin-top: 60px;
}

.signupbuttons{
     border: solid black 1px;
     padding: 10px;
     border-radius: 25px;
     font-size: 18px;
     margin: auto;
     text-decoration: none;
     color: black;
     
     
}

h3{
     text-align: center;
     margin-bottom: 50px;

}

.homecontainer{
    padding: 10px;
    width: 100%;
    height:300px;
    text-align:center;
    background-color: 	#ffeead;
   
}

/* FOOTER */
.footer{
   
    padding-top: 5px;
}

.footer a{
    color: black;
    text-decoration: none;
}

.footer ul{
    display: inline;
    float: right;
 
}

.footer ul li{
    display: inline;
    font-weight: bold;
    font-size: 15px;

}

.footer p{
    text-align: left;
    float: left;
    margin-top: 30px;
}

/* MICROPOSTS */ 

.microposts {
    list-style: none;
    padding:0;
}
 
 .microposts li {
     padding: 10px 0;
     border-top: 1px solid green;
 }
 .user{
     margin-top: 5em;
     padding-top: 0;
 }
 
 aside textarea {
     height: 100px;
     margin-bottom: 5px;
 }
 